DATABASE_URL="postgresql://trio:trio@localhost:5432/trio_sabores?schema=public"
JWT_SECRET=""
ADMIN_INITIAL_PASSWORD=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="5521999999999"
STORE_LATITUDE="-22.9068"
STORE_LONGITUDE="-43.1729"
MERCADOPAGO_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""
BLOB_READ_WRITE_TOKEN=""
